<ul class="breadcrumb">
    <li>
        <a href="{{ path('homepage') }}">{{ site.translation.brand }}</a>
    </li>
{% for crumb in crumbs %}
    <li>
        {% if crumb.path is defined %}
            <a href="{{ crumb.path }}">{{ crumb.label|truncate(60)|raw }}</a>
        {% else %}
            {{ crumb.label|truncate(60)|raw }}
        {% endif %}
    </li>
{% endfor %}
</ul>
