{% extends 'MsiAdminBundle:Page:layout.html.twig' %}

{% block css %}
<link href="/bundles/dogmain/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Aclonica' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ asset('bundles/dogmain/css/style.css') }}">
{{ parent() }}
{% endblock %}

{% block body %}
<div id="container" class="container">
        <div class="header">
            <div class="row">
                <div class="col-lg-6">
                    <h1><a href="{{ path('homepage') }}"><i class="icon-heart"></i> {{ block('brand') }}</a></h1>
                    <small id="slogan" class="text-muted">{{ 'slogan'|trans }}</small>
                </div>
                <div class="col-lg-6">
                    <div class="text-right lead">
                        <i class="icon-phone"></i> 514 862-5382
                    </div>
                </div>
            </div>
        </div>
        <div class="navbar navbar-inverse" style="margin-bottom: 0;">
            <ul class="nav navbar-nav pull-right">
                <li><a href="{{ path('homepage', {_locale: app.request.locale == 'fr' ? 'en' : 'fr'}) }}">{{ app.request.locale == 'fr' ? 'English' : 'Français' }}</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li><a href="{{ path('homepage') }}">Home</a></li>
                <li><a href="{{ path('dog_main_service_list') }}">About Us</a></li>
                <li><a href="{{ path('dog_main_service_list') }}">Services</a></li>
                <li><a href="{{ path('dog_main_gallery_list') }}">Photos</a></li>
                <li><a href="{{ path('dog_main_testimonial_list') }}">Témoignages</a></li>
                <li><a href="{{ path('dog_main_gallery_list') }}">Contact Us</a></li>
            </ul>
        </div>
        <div class="row">
            <div class="col-lg-12">
                {# Slider #}
                {% include 'DogMainBundle:Slider:slider.html.twig' %}
            </div>
        </div>
    <div class="content">
        <div class="row">
            <div class="col-lg-12">
                {% block breadcrumb %}
                {% include 'DogMainBundle::breadcrumb.html.twig' with {crumbs: []} %}
                {% endblock %}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-9">
                {% if block('title') %}
                    <h2><span>{{ block('title') }}</span></h2>
                {% endif %}
                {{ msi_block_render('content_top', page) }}
                {{ block('page_content') }}
                {{ msi_block_render('content_bottom', page) }}
            </div>
            <div class="col-lg-3">
                <p class="lead"><a class="btn btn-block btn-large btn-info" href="#"><i class="icon-location-arrow icon-large"></i> DEVIS EXPRESS</a></p>
                {{ block('sidebar') }}
            </div>
        </div>
    </div>
    <div class="content">
        <div class="row">
            <div class="col-lg-4">
                <div class="well">
                    <h4>Lorem ipsum</h4>
                    <p>Pellentesque ut massa vitae tortor consequat adipiscing. Nunc consequat rutrum urna eu rhoncus. Aliquam erat volutpat. Aenean id nisl vel nisl sodales pharetra. Nam bibendum ipsum sed risus condimentum congue.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="well">
                    <h4>Lorem ipsum</h4>
                    <p>Pellentesque ut massa vitae tortor consequat adipiscing. Nunc consequat rutrum urna eu rhoncus. Aliquam erat volutpat. Aenean id nisl vel nisl sodales pharetra. Nam bibendum ipsum sed risus condimentum congue.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="well">
                    <h4>Lorem ipsum</h4>
                    <p>Pellentesque ut massa vitae tortor consequat adipiscing. Nunc consequat rutrum urna eu rhoncus. Aliquam erat volutpat. Aenean id nisl vel nisl sodales pharetra. Nam bibendum ipsum sed risus condimentum congue.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-2">
                <h4>{{ site.translation.brand }}</h4>
                <p>
                    We love to love your dogs.
                </p>
            </div>
            <div class="col-lg-2 col-offset-1">
                {{ render(controller('DogMainBundle:Service:nav')) }}
            </div>
            <div class="col-lg-2">
                {{ render(controller('DogMainBundle:Package:nav')) }}
            </div>
            <div class="col-lg-2">
                <h4>Autres</h4>
                <ul class="list-unstyled">
                    <li><a href="#">Nam bibendum ipsum</a></li>
                    <li><a href="#">Nam bibendum ipsum</a></li>
                    <li><a href="#">Nam bibendum ipsum</a></li>
                    <li><a href="#">Nam bibendum ipsum</a></li>
                    <li><a href="#">Nam bibendum ipsum</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-offset-1">
                <h4>Contact</h4>
                <p>
                    514.826.5695
                    <br>
                    <a href="mailto:info@animadou.com">info@animadou.com</a>
                </p>
            </div>
        </div>
        <hr>
        <p class="text-center muted" style="margin-bottom: 20px;">&copy; {{ 'now'|date('Y') }} {{ block('brand') }}</p>
    </div>
</div>
{% endblock body %}

{% block js %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.0/jquery-ui.min.js"></script>
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="/bundles/dogmain/vendor/msi-slider/js/msi-slider.js"></script>
<script src="/bundles/dogmain/vendor/hinclude/hinclude.js"></script>
{{ parent() }}
{% include 'DogMainBundle:Slider:slider_js.html.twig' %}
{% endblock %}
