{% extends 'MsiAdminBundle:Page:layout.html.twig' %}

{% block css %}
<link href="{{ asset('bundles/msiadmin/vendor/bootstrap/css/bootstrap.css') }}" rel="stylesheet">
<link href="{{ asset('bundles/msiadmin/vendor/font-awesome/css/font-awesome.css') }}" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ asset('bundles/msiadmin/css/base.css') }}">
<link rel="stylesheet" href="{{ asset('bundles/dogmain/css/style.css') }}">
{{ parent() }}
{% endblock %}

{% block body %}
<div class="header-outer">
    <div class="container">
        <div class="header">
            <div class="row">
                <div class="col-md-4">
                    <h1><a href="{{ path('homepage') }}"><span class="icon-large icon-star"></span> ANIMADOU</a></h1>
                    {#<div class="pull-left text-muted" style="border-top: 1px solid #999;"><small>{{ 'slogan'|trans }}</small></div>#}
                </div>
                <div class="col-md-8">
                    {{ knp_menu_render('DogMainBundle:MenuBuilder:mainMenu', {'allow_safe_labels': true, 'depth': 3, 'currentClass': 'active'}) }}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content-header-outer">
    <div class="container">
        <div class="content-header">
            {% if page.showTitle %}
                <h2>{{ page.translation.title ?: block('title') }}</h2>
            {% endif %}
        </div>
    </div>
</div>
<div class="content-outer">
    <div class="container">
        <div class="content">
            {% if block('sidebar') %}
            <div class="row">
                <div class="col-md-4">
                    <div class="sidebar">
                        {{ block('sidebar') }}
                    </div>
                </div>
                <div class="col-md-8">
                        {{ msi_render_block('content_top', page) }}
                    {{ block('page_content') }}
                    {{ msi_render_block('content_bottom', page) }}
                </div>
            </div>
            {% else %}
                {{ msi_render_block('content_top', page) }}
                {{ block('page_content') }}
                {{ msi_render_block('content_bottom', page) }}
            {% endif %}
        </div>
    </div>
</div>
<div class="value-outer">
    <div class="container">
        <div class="value">
            <a style="background: #fff; padding: 9px; border-radius: 50%; border: 1px solid #666;" href="#"><span class="icon-large icon-facebook"></span></a>
            <a style="background: #fff; padding: 9px; border-radius: 50%; border: 1px solid #666;" href="#"><span class="icon-large icon-twitter"></span></a>
            <a style="background: #fff; padding: 9px; border-radius: 50%; border: 1px solid #666;" href="#"><span class="icon-large icon-youtube"></span></a>
        </div>
    </div>
</div>
<div class="footer-outer">
    <div class="container">
        <div class="footer">
            GET SOCIAL
        </div>
    </div>
</div>
{% endblock body %}

{% block js %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/js/bootstrap.min.js"></script>
<script src="/bundles/dogmain/vendor/msi-slider/js/msi-slider.js"></script>
<script src="/bundles/dogmain/vendor/hinclude/hinclude.js"></script>
{{ parent() }}
{% include 'DogMainBundle:Slider:slider_js.html.twig' %}
{% endblock %}
