{% extends 'DogMainBundle::layout.html.twig' %}

{% block content %}
<div id="galleryCarousel">
    <h2>
        <div class="pull-right">
            <a class="btn btn-small btn-info control control-prev" href="#"><i class="icon-chevron-left icon-large"></i></a>
            <a class="btn btn-small btn-info control control-next" data-direction=next href="#"><i class="icon-chevron-right icon-large"></i></a>
        </div>
        <span>Galleries</span>
    </h2>
    <div class="carousel-wrap">
        <ul class="carousel">
        {% for gallery in galleries %}
            {% if loop.index == 1 or loop.index % 3 == 1 %}<li>{% endif %}
            {% if loop.index == 1 or loop.index % 3 == 1 %}<div class="row">{% endif %}
                <a class="col-lg-4" href="{{ path('dog_main_gallery_show', {gallery: gallery.translation.slug}) }}">
                    <div>
                        <img style="margin-bottom: 5px;" class="" src="http://placehold.it/250x200" alt="">
                        <span class="pull-right badge">{{ gallery.images.count }}</span>
                        {{ gallery|truncate(20) }}
                    </div>
                </a>
            {% if loop.index == galleries|length or loop.index % 3 == 0 %}</div>{% endif %}
            {% if loop.index == galleries|length or loop.index % 3 == 0 %}</li>{% endif %}
        {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}

{% block breadcrumb %}
{% include 'DogMainBundle::breadcrumb.html.twig' with {crumbs: [
    {
        label: block('title')
    }
]} %}
{% endblock %}

{% block sidebar %}
{{ render(controller('DogMainBundle:Gallery:nav')) }}
{% endblock %}

{% block js %}
{{ parent() }}
<script>
$('#galleryCarousel').msiSlider({
    cycle: false,
    slider: false,
    infinite: false
});
</script>
{% endblock %}
